{
  "logLevel": "info",
  "logsDir": "./ocaplogs",
  "defaultTag": "TvT",
  "api": {
    "serverUrl": "http://127.0.0.1:5000",
    "apiKey": "same-secret",
    "uploadTimeout": "10m"
  },
  "storage": {
    "type": "memory",
    "memory": {
      "outputDir": "./recordings",
      "compressOutput": true
    },
    "sqlite": {
      "dumpInterval": "3m"
    },
    "postgres": {
      "host": "127.0.0.1",
      "port": "5432",
      "username": "postgres",
      "password": "postgres",
      "database": "ocap"
    }
  }
}
