{
  "logLevel": "info",
  "logsDir": "./OCAPLOG",
  "defaultTag": "TvT",
  "api": {
    "serverUrl": "127.0.0.1:5000",
    "apiKey": "same-secret"
  },
  "db": {
    "host": "127.0.0.1",
    "port": "5432",
    "username": "postgres",
    "password": "postgres",
    "database": "ocap"
  },
  "influx": {
    "enabled": true,
    "host": "127.0.0.1",
    "port": "8086",
    "protocol": "http",
    "token": "supersecrettoken",
    "org": "ocap-metrics"
  }
}